language: generic

sudo: required

services:
    - docker

before_install:
    - docker build -t nithin/docker-react-nithin -f Dockerfile.dev .

    script:
        - docker run -e CI=true nithin/docker-react-nithin npm run test